# Python Basic data Types Assignment 2

# TOPIC:- STRING BASED ASSIGNMENT QUESTION

In [94]:
# Question:-1 Write a program to reverse the String

word = "Write a program to reverse the String"
print(word[::-1])

gnirtS eht esrever ot margorp a etirW

In [7]:
# Question:-2 Check if a string is palindrome

word = input("Enter the string")

# Check if the word is a palindrome
is_palindrome = word.lower() == word.lower()[::-1]

if is_palindrome is True:
    print(f"{word} is a palindrome.")
else:
    print(f"{word} is not a palindrome.")

Enter the string director

director is not a palindrome.

In [8]:
# Question:-3 Convert a string to upper Case

print(word.upper())

DIRECTOR

In [9]:
# Question:-4 Convert a string to lower Case

print(word.lower())

director

In [2]:
# Question:-5 Counts the number of vowel in the string
text = "Counts the number of vowel in the string"

# Count vowels without using loop or function
vowel_count = sum(text.lower().count(vowel) for vowel in "aeiou")

print(f"The number of vowels in '{text}' is: {vowel_count}")

The number of vowels in 'Counts the number of vowel in the string' is: 11

In [6]:
# Question:-6 Counts the number of Consonants in the string
text = "Counts the number of Consonants in the string"

# Count vowels without using loop or function
consonant_count = sum(text.lower().count(consonant) for consonant in "bcdfghjklmnpqrstvwxyz")

print(f"The number of Consonants in '{text}' is: {consonant_count}")

The number of Consonants in 'Counts the number of Consonants in the string' is: 26

In [7]:
# Question:-7 Remove all whitespaces from a string.

word = "Remove all whitespaces from a string."
print(word.replace(" ", ""))

Removeallwhitespacesfromastring.

In [95]:
# Question:-8 Find the length of a string without using the `len()` function.

word = "Find the length of a string without using the `len()` function."
count = 0

for each in word:
    count += 1
    
print(count)

63

In [96]:
# Question:-9 Check if a string contains a specific word.

word = "Check if a string contains a specific word."
subword = input("enter the word ")

if subword in word:
    print(f"String contains this specific word {subword}")
else:
    print(f"String does not contains this specific word {subword}")

enter the word  if

String contains this specific word if

In [22]:
# Question:-10 Replace a word in a string with another word.

word = "Replace a word in a string with another word."
print(word.replace("another","diffrent"))

Replace a word in a string with diffrent word.

In [24]:
# Question:-11 Count the occurrences of a word in a string.

word = "Count the occurrences of a word in a string."
sub = input("Enter the word")
count = 0
for each in word:
    if each == sub:
        count += 1

print(f"the number of occurence of {sub} in word is {count}")

Enter the word a

the number of occurence of a in word is 2

In [29]:
# Question:-12 Find the first occurrence of a word in a string.

def first_occurence_word(text , word):
    index = text.find(word)
    
    if index == -1:
        return None
    
    return index

text = "Find the first occurrence of a word in a string."
word = "a"
result = first_occurence_word(text,word)
print(f"Find the first occurrence of a word in a string is {result}")

Find the first occurrence of a word in a string is 29

In [30]:
# Question:-13 Find the last occurrence of a word in a string.

def last_occurence_word(text , word):
    index = text.rfind(word)
    
    if index == -1:
        return None
    
    return index

text = "Find the last occurrence of a word in a string."
word = "a"
result = first_occurence_word(text,word)
print(f"Find the last occurrence of a word in a string is {result}")

Find the last occurrence of a word in a string is 10

In [31]:
# Question:-14 Split a string into a list of words.

text = "Find the last occurrence of a word in a string."
print(text.split())

['Find', 'the', 'last', 'occurrence', 'of', 'a', 'word', 'in', 'a', 'string.']

In [36]:
# Question:-15 Join a list of words into a string..

word = text.split()
print(''.join(text))

Find the last occurrence of a word in a string.

In [37]:
# Question:-16 Convert a string where words are separated by spaces to one where words are separated by underscores.

word = "Convert a string where words are separated by spaces to one where words are separated by underscores." 
print(word.replace(" ", "_"))

Convert_a_string_where_words_are_separated_by_spaces_to_one_where_words_are_separated_by_underscores.

In [57]:
# Question:-17 Check if a string starts with a specific word or phrase.

word = "Convert a string where words are separated by spaces to one where words are separated by underscores." 
stword = input("Enter the word")
word_list = word.split()
if stword == word_list[0]:
    print(f"The above string start with {stword} ")
else:
    print(f"The above string not start with {stword}")

Enter the word Convert

the above string start with Convert

In [59]:
# Question:-18 Check if a string ends with a specific word or phrase.

word = "Check if a string ends with a specific word or phrase" 
stword = input("Enter the word")
word_list = word.split()
if stword == word_list[-1]:
    print(f"The above string ends with {stword}")
else:
    print(f"The above string not ends with {stword}")

Enter the word with

the above string not ends with with

In [3]:
# Question:-19 Convert a string to title case (e.g., "hello world" to "Hello World")..

word = "Converted a string to title case " 
print(word.title())

Converted A String To Title Case

In [41]:
# Question:-20 Find the longest  word in a string.

def longest_word_in_string(word):
    word_list = word.split()
    len_count = 0
    longest_word = ""
    for each in word_list:
        if len(each) > len_count:
            len_count = len(each)
            longest_word = each
    return longest_word

word = "Find the longest word in a string"
longest_word = longest_word_in_string(word)
print(f"Longest word in the string is {longest_word}")

Longest word in the string is longest

In [24]:
# Question:-21 Find the Shortest word in a string.

def shortest_word_in_string(word):
    word = word.split()
    shortest_word = min(word, key=len)
    return shortest_word

word = "Find the Shortest word in a string"

shortest_word = shortest_word_in_string(word)
print(f"shortest word in the string is {shortest_word}")

shortest word in the string is a

In [19]:
# Question:-22 Reverse the order of words in the string.

def reverse_order(word):
    word_list1 = []
    for each in word.split():
        word_list1.append(each[::-1])
    
    print(' '.join(word_list1))


word = "Reverse the order of words in the string"
reverse_order(word)

esreveR eht redro fo sdrow ni eht gnirts

In [36]:
# Question:-23 Check if a string is alphanumeric.

def is_alphanumeric(input_string):
    return input_string.isalnum()

word = "Check if a string is alphanumeric"
result = is_alphanumeric(word)

if result:
    print(f'The string "{word}" is alphanumeric.')
else:
    print(f'The string "{word}" is not alphanumeric.')

The string "Check if a string is alphanumeric" is not alphanumeric.

In [27]:
# Question:-24 Extract all digits from a string.

def extract_digit(word):
    print(''.join(each for each in word if each.isdigit()))

word = "Extract total 10 all digits from a string. 1234"
extract_digit(word)

101234

In [32]:
# Question:-25 Extract all alphabets from a string.

def extract_digit(word):
    print(''.join(each for each in word if each.isalpha()))

word = "Extract total 10 all digits from a string. 1234"
extract_digit(word)

Extracttotalalldigitsfromastring

In [45]:
# Question:- 26 Count the number of uppercase letters in a string.

def count_upper(word):
    count = 0
    for each in word:
        if each.isupper():
            count += 1
        
    return count

word = "Count the Number of uppErcase leTTers in a string."
count_upper = count_upper(word)
print(count_upper)

5

In [46]:
# Question:- 27 Count the number of lowercase letters in a string.

def count_lower(word):
    count = 0
    for each in word:
        if each.islower():
            count += 1
        
    return count

word = "Count the Number of Lowercase leTTers in a string."
count_lower = count_lower(word)
print(count_lower)

36

In [65]:
# Question:- 28 Swap the case of each character in a string.

def swap_case(word):
    word_list = ""
    for each in word.split():
        for each_char in each:
            if each_char.islower():
                word_list += each_char.upper()
            elif each_char.isupper():
                word_list += each_char.lower()
                
        word_list += " "
    return word_list

word = "Swap the caSe of each chaRACter in a string."
swap_case = swap_case(word)
print(swap_case)

sWAP THE CAsE OF EACH CHAracTER IN A STRING

In [69]:
# Question:- 29 Remove a specific word from a string.

word = "Remove a specific word from a string."
word_list = word.split()
word_list.remove("word")
print(' '.join(word_list))

Remove a specific from a string.

In [4]:
# Question:- 30 Check if a string is a valid email address.

import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "rahulojha5434@gmail.com"
email2 = "rahul.ojha@work"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [155]:
# Question:- 31 Extract the username from an email address string.

def extract_username(email):
    username = email.split('@')[0]  # Split the email address at "@" and take the first part
    return username

# Example email address
email = "example@email.com"
result = extract_username(email)
print(result)

example

In [1]:
# Question:- 32 Extract the domain from an email address string.

def extract_username(email):
    username = email.split('@')[1]  # Split the email address at "@" and take the first part
    return username

# Example email address
email = "example@email.com"
result = extract_username(email)
print(result)

email.com

In [6]:
# Question:- 33 Replace multiple spaces in a string with a single space.

word = "Replace  multiple  spaces in a string with a single space."
print(word)
print(word.replace("  "," "))

Replace  multiple  spaces in a string with a single space.
Replace multiple spaces in a string with a single space.

In [7]:
# Question:- 34 Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://yellow-author-ezjuf.pwskills.app/lab/tree/work/17th_November_python_datatypes.ipynb"
url2 = "Check if a string is a valid URL."
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [10]:
# Question:- 35 Extract the protocol (http or https) from a URL string.

def extract_protocol(url):
    protocol =  url.find("://")
    print(url[:protocol])
                         
extract_protocol("https://lab.pwskills.com/my-labs")

https

In [ ]:
# Question:- 36 Find the frequency of each character in a string.

def freq_char(word):
    freq_dict = {}
    for each in word:
        if each in freq_dict:
            freq_dict[each] += 1
        else:
            freq_dict[each] = 1
    print(freq_dict)

freq_char("Find the frequency of each character in a string.")

{'F': 1, 'i': 3, 'n': 4, 'd': 1, ' ': 8, 't': 3, 'h': 3, 'e': 5, 'f': 2, 'r': 4, 'q': 1, 'u': 1, 'c': 4, 'y': 1, 'o': 1, 'a': 4, 's': 1, 'g': 1, '.': 1}

In [ ]:
# Question:-37 Remove all punctuation from a string.

import string

def remove_punctuation(input_string):
    # Using string.punctuation to get all punctuation characters
    punctuation_chars = string.punctuation
    
    # Creating a translation table to map each punctuation character to None
    translation_table = str.maketrans("", "", punctuation_chars)
    
    # Applying the translation to remove punctuation
    result_string = input_string.translate(translation_table)

    return result_string

# Example usage:
input_string = "Remove! all punctuation from a string. @^&"
result = remove_punctuation(input_string)
print("String without punctuation:", result)

String without punctuation: Remove all punctuation from a string

In [120]:
# Question:- 38 Check if a string contains only digits.

state = False
def check_digit(word):
    for each in word:
        if each.isdigit():
            state = False
            break
        else:
            state = True
            continue
    
    if state == False :
        print(f"this string $ {word} $ contains digit {each}")
    else:
        print(f"this string $ {word} $ does not contains digit")

word = "Check if a string contains only digits 34"
check_digit(word)

this string $ Check if a string contains only digits 34 $ contains digit 3

In [124]:
# Question:- 39 Check if a string contains only alphabets.

def check_alpha(word):
    for each in word:
        if each.isalpha():
            state = True
            continue
        else:
            state = False
            break
            
    if state == False :
        print(f"this string $ {word} $ contains digit {each}")
    else:
        print(f"this string $ {word} $ contains only alphabet")
            
word = "Check if a string contains only alphabets r6"
check_alpha(word)

this string $ Check if a string contains only alphabets r6 $ contains digit

In [18]:
# Question:- 40 Convert a string to a list of characters.

word = "Convert a string to a list of characters."
print(word)
print(word.split())

Convert a string to a list of characters.
['Convert', 'a', 'string', 'to', 'a', 'list', 'of', 'characters.']

In [161]:
# Question:- 41 Check two strings are anargrams

def check_anargrams(word1 , word2):
    word1 = word1.replace(" ","").lower()
    word2 = word2.replace(" ","").lower()
    if sorted(word1) == sorted(word2):
        print(f"{word1} and {word2} are anargrams")
    else:
        print(f"{word1} and {word2} not are anargrams")
        
        
word1 = "listen"
word2 = "Silent"
word3 = "Rahul"
word4 = "lohar"

check_anargrams(word1 , word2)
check_anargrams(word3 , word4)

listen and silent are anargrams
rahul and lohar not are anargrams

In [92]:
# Question:- 42 Encode a string using a Caesar cipher.

import string

letters_a_to_z = list(string.ascii_lowercase)

def encode_cipher(code ,shift):
    encoded = []
    for each in code.lower():
        if each in letters_a_to_z:
            if ((letters_a_to_z.index(each)) + int(shift)) > 25 :
                encoded.append(letters_a_to_z[(letters_a_to_z.index(each)) + int(shift) - 26])
            else:
                encoded.append(letters_a_to_z[(letters_a_to_z.index(each)) + int(shift)])
        else:
            encoded.append(each)
        

    return ''.join(encoded)

encoded_string = encode_cipher("decode a string using a Caesar cipher" , 3)
print(f"Encoded caesar cipher for is {encoded_string}")

Encoded caesar cipher for is ghfrgh d vwulqj xvlqj d fdhvdu flskhu

In [93]:
# Question:- 43 decode a string using a Caesar cipher

def decode_cipher(code,shift):
    decoded = []
    for each in code.lower():
        if each in letters_a_to_z:
            decoded.append(letters_a_to_z[(letters_a_to_z.index(each)) - int(shift)])
        else:
            decoded.append(each)
    
    return ''.join(decoded)

decoded_string = decode_cipher(encoded_string,3)
print(f"decoded caesar cipher is {decoded_string}")

decoded caesar cipher is decode a string using a caesar cipher

In [197]:
# Question:- 44 Find the most frequent word in a string

word_dict = {}

def freq_word(word):
    for each in word.lower().split():
        if each in word_dict:
            word_dict[each] += 1
        else:
            word_dict[each] = 1 
            
    return sorted(list(word_dict.values()))[-1]

frq_values = freq_word("Hello world, hello there! How's the world?")
for key , values in word_dict.items():
    if values == frq_values:
        print(f"The most frequent word is string is $ {key.upper()} $ which occurs {values} times")

The most frequent word is string is $ HELLO $ which occurs 2 times

In [154]:
# Question:- 45 Find all unique words in a string

def uniq_word(word):
    word_list = []
    for each in word.lower().split():
        if each in word_list:
            word_list.remove(each)
        else:
            word_list.append(each)
            
    return word_list

uniq_word("Hello world, hello there! How's the world?")

['world,', 'there!', "how's", 'the', 'world?']

In [165]:
# Question:- 46 Count the number of syllables in a string.

def count_syllables_vowels(word):
    vowels = "aeiouy"
    count = 0
    prev_char_was_vowel = False

    for char in word.lower():
        if char in vowels:
            if not prev_char_was_vowel:
                count += 1
            prev_char_was_vowel = True
        else:
            prev_char_was_vowel = False

    return count

# Example usage:
word = "banana"
syllable_count = count_syllables_vowels(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'banana' has 3 syllables.

In [167]:
# Question:- 47 Check if a string contains any special characters

def has_special_characters(input_string):
    for char in input_string:
        if not char.isalnum():
            return True

    return False

test_string = "Special@Characters"
result = has_special_characters(test_string)

if result:
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

In [178]:
# Question:- 48 Remove the nth word from a string

def remove_word(word , position):
    print(f"Original string  $ {word} ")
    word = word.split()
    print(f"Removed word $  {word[position]}")
    if 0 < position <= (len(word) - 1):
        word.pop(position -1 )
    else:
        print("Invalid index number for the string")
        
    return f"Final string $ " + ' '.join(word)

word = "Remove the nth word from a string"
remove_word(word , 4)

Original string  $ Remove the nth word from a string
Removed word $  from

'Final string $ Remove the nth from a string'

In [196]:
# Question:- 49 Insert a word at the nth position in a string

def insert_word(word , insert_word , position):
    print(f"Original string  $ {word} ")
    word = word.split()
    print(f"Onserted word $  {insert_word }")
    if 0 < position <= (len(word) - 1):
        word.insert(position , insert_word)
    else:
        print("Invalid index number for the string")
        
    return f"Final string $ " + ' '.join(word)

word = "Remove the nth word from a string"
insert_word(word, "data" , 4)

Original string  $ Remove the nth word from a string
Onserted word $  data

'Final string $ Remove the nth word data from a string'

In [ ]:
# Question:- 50 Convert a CSV string to a list of lists

def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

# List Based Practice problems

In [1]:
# Question:-1 Create a list with integers from 1 to 10.

list1 = [x for x in range(1,11)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# Question:2 Find the length of a list without using the `len()` function.

def list_length(list1):
    count = 0
    for i in list1:
        count += 1
        
    return f"The length of list is {count}"

list_length(list1)

'The length of list is 10'

In [3]:
# Question:-3 Append an element to the end of a list.

list1.append(11)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [4]:
# Question:-4 Insert an element at a specific index in a list.

def list_insert(position , value):
    list1.insert(position , value)
    return list1

list_insert(4,"apple")

[1, 2, 3, 4, 'apple', 5, 6, 7, 8, 9, 10, 11]

In [5]:
# Question:-5 Remove an element from a list by its value.

list1.remove(11) # 11 is the element in the list
list1

[1, 2, 3, 4, 'apple', 5, 6, 7, 8, 9, 10]

In [6]:
# Question:-6 Remove an element from a list by its index.

list1.pop(4) # 4 is the index position of element(apple) in the list
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
# Question:-7 Check if an element exists in a list.

print( 1 in list1)

True

In [58]:
# Question:-8 Find the index of the first occurrence of an element in a list.

print(f"Index of element in list is {list1.index(10)}")

Index of element in list is 9

In [7]:
# Question:-9 Count the occurrences of an element in a list.

list1 = [1,2,3,1,6,5,3,2,9,4,5 ]

def count_occurence(list1):
    count = {}
    for each in sorted(list1):
        if each in count:
            count[each] += 1
        else:
            count[each] = 1
            
    return count

count_occurence(list1)

{1: 2, 2: 2, 3: 2, 4: 1, 5: 2, 6: 1, 9: 1}

In [8]:
# Question:-10 Reverse the order of elements in a list.

# Reverse the order of list using for loop
def reverse_order(list1):
    list2 = []
    for each in list1:
        list2.insert(list1.index(each),list1[len(list1) - each])
     
    print(f"original list {list1}")
    print(f"reversed list {list2}")

reverse_order([1,2,3,4,5])

# reverse the order of list using list slicing
print(f"original list {list1}")
print(f"reversed list using list slicing {list1[::-1]}")

original list [1, 2, 3, 4, 5]
reversed list [5, 4, 3, 2, 1]
original list [1, 2, 3, 1, 6, 5, 3, 2, 9, 4, 5]
reversed list using list slicing [5, 4, 9, 2, 3, 5, 6, 1, 3, 2, 1]

In [14]:
# Question:- 11 Sort a list in ascending order.

list3 = [22,43,11,23,76,34,67,88,22,34,60]
list3.sort()

print(list3)

[11, 22, 22, 23, 34, 34, 43, 60, 67, 76, 88]

In [15]:
# Question:- 12 Sort a list in descending order.

list3 = [22,43,11,23,76,34,67,88,22,34,60]
list3.sort(reverse = True)

print(list3)

[88, 76, 67, 60, 43, 34, 34, 23, 22, 22, 11]

In [17]:
# Question:- 13 Create a list of even numbers from 1 to 20.

list3 = [x for x in range(0,21) if x%2 == 0]
print(list3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
# Question:- 14 Create a list of odd numbers from 1 to 20.

list3 = [x for x in range(0,21) if x%2 != 0]
print(list3)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [35]:
# Question:- 15 Find the sum of all elements in a list.

print(list3)
print(f"sum of all the elements {sum(list3)}")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
sum of all the elements 100

In [34]:
# Question:- 16 Find the maximum value in a list.

print(list3)
print(f"Maximun value in ths list {max(list3)}")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Maximun value in ths list 19

In [36]:
# Question:- 17 Find the minimum value in a list.

print(list3)
print(f"Minimun value in ths list {min(list3)}")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Maximun value in ths list 1

In [37]:
# Question:- 18 Create a list of squares of numbers from 1 to 10..

list4 = [ x*x for x in range(1,11)]
print(list4)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
# Question:- 19 Create a list of random numbers.
import random

list5 = [random.randint(0,x) for x in range(1,11)]
print(list5)

[1, 2, 3, 0, 3, 5, 7, 2, 8, 9]

In [12]:
# Question:- 20 Remove duplicates from a list.
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
print(f"datatype conversion method {list(set(my_list))}")

def remove_duplicates(my_list):
    new_list = []
    for each in set(my_list):
        new_list.append(each)
        
    return f"using for loop {new_list}"
    
    
remove_duplicates(my_list)

datatype conversion method [40, 10, 50, 20, 30]

'using for loop [40, 10, 50, 20, 30]'

In [89]:
# Question:- 21 Find the common elements between two lists.
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
my_list1 = [40, 10, 50, 20, 30 ,34]

def common_elements(list1 , list2):
    common_list = []
    list_length = min(len(list1),len(list2))
    for i in range(list_length):
        if list2[i] in list1:
            common_list.append(list2[i])
            
    return f" common elements in both the list is {common_list}"
        
    
common_elements(my_list , my_list1)

' common elements in both the list is [40, 10, 50, 20, 30]'

In [90]:
# Question:- 22 Find the difference between two lists.
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
my_list1 = [40, 10, 50, 20, 30 ,34]

def diff_elements(list1 , list2):
    diff_list = []
    list_length = min(len(list1),len(list2))
    for i in range(list_length):
        if list2[i] not in list1:
            diff_list.append(list2[i])
            
    return f" diffrent elements in both the list is {diff_list}"
    
common_elements(my_list , my_list1)

' common elements in both the list is [40, 10, 50, 20, 30]'

In [207]:
# Question:- 23 Merge two lists.
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
my_list1 = [40, 10, 50, 20, 30 ,34]

merge_list = my_list  my_list1
print(merge_list)

[10, 20, 30, 20, 40, 10, 50, 30, 40, 10, 50, 20, 30, 34]

In [95]:
# Question:- 24 Multiply all elements in a list by 2.

print(f"Original list {merge_list} ")
print(f"list mutipliy by 2 {[x * 2 for x in merge_list]}")

Original list [10, 20, 30, 20, 40, 10, 50, 30, 40, 10, 50, 20, 30, 34]
list mutipliy by 2 [20, 40, 60, 40, 80, 20, 100, 60, 80, 20, 100, 40, 60, 68]

In [98]:
# Question:- 25 Filter out all even numbers from a list.

import random

# created a list with random number
list7 = [random.randint(0 , x) for x in range(20)]
# printed orignal list
print(f"Original list {list7}")
# Filter out all even numbers from a list using list comprehension method
print(f"all even number in list {[x for x in list7 if x%2 == 0]}")

Original list [0, 1, 0, 2, 3, 4, 5, 7, 1, 6, 3, 3, 11, 3, 11, 8, 5, 1, 4, 18]
all even number in list [0, 0, 2, 4, 6, 8, 4, 18]

In [99]:
# Question:- 26 Convert a list of strings to a list of integers.

string_list = ["10", "20", "30", "40", "50"]
print(f"integer list {[ int(x) for x in string_list]}")

integer list [10, 20, 30, 40, 50]

In [100]:
# Question:- 27 Convert a list of integers to a list of strings..
integer_list = [10, 20, 30, 40, 50]
print(f"integer list {[str(x) for x in integer_list]}")

integer list ['10', '20', '30', '40', '50']

In [103]:
# Question:- 28 Flatten the nested list

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
final_list= []

for i in nested_list:
    for j in i:
        final_list.append(j)
        
print(final_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [119]:
# Question:- 29 Create a list of the first 10 Fibonacci numbers.

def fibonnaci_number(n):
    fib_list = [0,1]

    for i in range(n):
        fib_list.append(fib_list[-1] + fib_list[-2])
    
    return f"First 10 Fibonacci numbers is {fib_list}"
    
fibonnaci_number(10)

'First 10 Fibonacci numbers is [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]'

In [127]:
# Question:- 30 Check if a list is sorted.

list8 = [random.randint(0,x) for x in range(11)]
print(list8)
if list8 == sorted(list8):
    print("list is sorted")
else:
    print("list not sorted")

[0, 1, 2, 1, 4, 2, 5, 7, 4, 5, 9]
list not sorted

In [221]:
# Question:- 31. Rotate a list to the left by `n` positions.

def rotated_left(main,position):
    rotated_list = []
    rotated_list = main[position:] + main[:position]
    
    return f"Rotated list to the left by position {position} is {rotated_list}"

list9 = [0, 1, 2, 1, 4, 2, 5, 7, 4, 5, 9]
print(f"Original list {list9}")
rotated_left(list9,3)

Original list [0, 1, 2, 1, 4, 2, 5, 7, 4, 5, 9]

'Rotated list to the left by position 3 is [1, 4, 2, 5, 7, 4, 5, 9, 0, 1, 2]'

In [163]:
# Question:- 32. Rotate a list to the right by `n` positions.

def rotated_right(main,position):
    rotated_list = []
    rotated_list = main[-(position):] + main[:len(main) - position]
    
    return f"Rotated list to the right by position {position} is {rotated_list}"

list9 = [0, 1, 2, 1, 4, 2, 5, 7, 4, 5, 9]
print(f"Original list {list9}")
rotated_right(list9,2)

Original list [0, 1, 2, 1, 4, 2, 5, 7, 4, 5, 9]

'Rotated list to the right by position 2 is [5, 9, 0, 1, 2, 1, 4, 2, 5, 7, 4]'

In [177]:
# Question:- 33 Create a list of prime numbers up to 50.

def generate_primes_up_to_n(n):
    primes = []
    for num in range(2, n + 1):
        is_prime = all(num % i != 0 for i in range(2, int(num**0.5) + 1))
        if is_prime:
            primes.append(num)
    return primes

# Example usage:
limit = 50
prime_numbers = generate_primes_up_to_n(limit)

print(f"Prime numbers up to {limit}: {prime_numbers}")

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [239]:
# Question:- 34 Split a list into chunks of size `n`.

import math

list9 = [0, 1, 2, 1, 4, 2, 5, 7, 4, 5, 9]

def split_list(list_main , n):
    split_list1 = []
    new = ""
    print(f" Original lsit {list_main}")
    for i in range(math.ceil(len(list_main) / n) ):
        new = ''.join(str(list_main[:n]))
        split_list1.append(new)
        del list_main[:n]
        
    return f"split list by {n} is  {split_list1}"
    
    
split_list(list9, 3)

 Original lsit [0, 1, 2, 1, 4, 2, 5, 7, 4, 5, 9]

"split list by 3 is  ['[0, 1, 2]', '[1, 4, 2]', '[5, 7, 4]', '[5, 9]']"

In [246]:
# Question:- 35 Find the second largest number in a list.

list9 = [0, 1, 2, 1, 4, 2, 5, 4, 5, 9]
print(f" Second largest number in the list {sorted(set(list9))[-2]}")

 Second largest number in the list 5

In [251]:
# Question:- 36 Replace every element in a list with its square.

list9 = [0, 1, 2, 1, 4, 2, 5, 4, 5, 9]
list10 = []
print([(x**2) for x in list9])

[0, 1, 4, 1, 16, 4, 25, 16, 25, 81]

In [264]:
# Question:- 37 Convert a list to a dictionary where list elements become keys and their indices become values.

list9 = [random.randint(0,x*100) for x in range(0,10)]
dict_list = {}
print(f"Original list {list9}")
for i in range(len(list9)):
    dict_list[list9[i]] = i
    
print(f"list into a dictionary {dict_list}")

Original list [0, 43, 176, 204, 143, 490, 311, 173, 130, 743]
list into a dictionary {0: 0, 43: 1, 176: 2, 204: 3, 143: 4, 490: 5, 311: 6, 173: 7, 130: 8, 743: 9}

In [280]:
# Question:- 38 Shuffle the elements of a list randomly.

list9 = [0, 43, 176, 204, 143, 490, 311, 173, 130, 743]
random.shuffle(list9)
print(list9)

[176, 143, 204, 0, 173, 43, 130, 490, 311, 743]

In [2]:
# Question:- 39 Create a list of the first 10 factorial numbers.

def factorial(n):
    if n == 1 or n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
print([factorial(x) for x in range(10)])

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [23]:
# Question:- 40 Check if two lists have at least one element in common.

import random 

# Created a list with random integer
list10 = [random.randint(0,x) for x in range(9,20)]
list11 = [random.randint(0,x) for x in range(0,10)]

# compared list10 elements with list11
def common_element(list10,list11):
    print(list10)
    print(list11)
    for i in list10:
        if i in list11:
            return True
        else:
            return False
        
if common_element(list10,list11) == True:
    print("Both list have atleast one commom element")
else:
    print("Both list does not have atleast one commom element")

[9, 8, 10, 4, 2, 12, 11, 6, 7, 7, 15]
[0, 1, 0, 2, 2, 5, 5, 1, 2, 9]
Both list have atleast one commom element

In [28]:
# Question:-41 Remove all elements from a list.

list10 = [9, 8, 10, 4, 2, 12, 11, 6, 7, 7, 15]
list10.clear()
list10

[]

In [34]:
# Question:-42 Replace negative numbers in a list with 0.

list10 = [9,- 8, -10, 4, 2, 12, -11, 6, -7, 7, 15]

for i in range(len(list10)):
    if list10[i] < 0:
        list10[i] = 0
              
print(list10)

[9, 0, 0, 4, 2, 12, 0, 6, 0, 7, 15]

In [35]:
# Question:- 43 Convert a string into a list of words.

data = "Convert a string into a list of words."
print(data.split())

['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words.']

In [37]:
# Question:- 44 Convert a list of words into a string.

list11 = data.split()
print(' '.join(list11))

Convert a string into a list of words.

In [40]:
# Question:- 45 Create a list of the first `n` powers of 2.

list_square = [x**2 for x in range(0,11)]
print(list_square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
# Question:- 46 Find the longest word in a list of strings.

def longest_word_in_string(word):
    len_count = 0
    longest_word = ""
    for each in word:
        if len(each) > len_count:
            len_count = len(each)
            longest_word = each
    return longest_word

word_list = ["python", "programming", "language", "list", "string", "example"]
longest_word = longest_word_in_string(word_list)
print(f"Longest word in the string is  $ {longest_word}")

Longest word in the string is  $ programming

In [51]:
# Question:- 47 Find the shorteet word in a list of strings.

def shortest_word_in_string(word):
    shortest_word = min(word, key=len)
    return shortest_word

word_list = ["python", "programming", "language", "list", "string", "example"]
shortest_word = shortest_word_in_string(word_list)
print(f"shortest word in the string is {shortest_word}")

shortest word in the string is list

In [1]:
# Question:- 48 Create a list of the first `n` triangular numbers.

def generate_triangular_numbers(n):
    triangular_numbers = []
    for i in range(1, n + 1):
        triangular_number = (i * (i + 1)) // 2
        triangular_numbers.append(triangular_number)
    return triangular_numbers

# Example: Generate the first 10 triangular numbers
n = 10
triangular_numbers_list = generate_triangular_numbers(n)
print(triangular_numbers_list)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [2]:
# Question:- 49 Check if a list contains another list as a subsequence.

def is_subsequence(sublist, sequence):
    i, j = 0, 0

    while i < len(sublist) and j < len(sequence):
        if sublist[i] == sequence[j]:
            i += 1
        j += 1

    return i == len(sublist)

# Example usage:
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sub_list = [3, 5, 7]

result = is_subsequence(sub_list, main_list)

if result:
    print("The sublist is a subsequence of the main list.")
else:
    print("The sublist is not a subsequence of the main list.")

The sublist is a subsequence of the main list.

In [4]:
# Question:- 50 Swap two elements in a list by their indices.
    
def swap_elements_by_indices(my_list, index1, index2):
    # Check if the indices are valid
    if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
        # Swap elements using a temporary variable
        temp = my_list[index1]
        my_list[index1] = my_list[index2]
        my_list[index2] = temp
        return my_list
    else:
        print("Invalid indices. Please provide valid indices.")

# Example usage:
my_list = [1, 2, 3, 4, 5]
index_to_swap1 = 0
index_to_swap2 = 3

result_list = swap_elements_by_indices(my_list, index_to_swap1, index_to_swap2)
print("Original List:", my_list)
print("List after swapping elements at indices", index_to_swap1, "and", index_to_swap2, ":", result_list)

Original List: [4, 2, 3, 1, 5]
List after swapping elements at indices 0 and 3 : [4, 2, 3, 1, 5]

# Tuple Based Practice Problems

In [1]:
# Question:-1 Create a tuple with integers from 1 to 5.

Tuple1 = (1,2,3,4,5)
print(Tuple1)

(1, 2, 3, 4, 5)

In [3]:
# Question:-2 Access the third element of a tuple.

third_element = Tuple1[2]
print(third_element)

3

In [15]:
# Question:-3 Find the length of a tuple without using the `len()` function.

def Tuple_length(Tuple1):
    count = 0
    for i in Tuple1:
        count += 1

    return f"Tuple Length is {count}"
        
Tuple_length(Tuple1)

'Tuple Length is 5'

In [1]:
# Question:-4 Count the occurrences of an element in a tuple.

import random
Tuple2 = tuple(random.randint(0,x) for x in range(0,11))

def element_occurence(y , Tuple2):
    occurence_count = 0
    for i in Tuple2:
        if i == y :
            occurence_count += 1
    return f"{y} occur {occurence_count} times in {Tuple2} "
        
element_occurence(0 , Tuple2)

'0 occur 4 times in (0, 0, 1, 1, 0, 0, 4, 2, 4, 3, 7) '

In [14]:
# Question:-5 Find the index of the first occurrence of an element in a tuple.

import random
Tuple2 = tuple(random.randint(0,x) for x in range(0,11))

def element_occurence(y , Tuple2):
    print(Tuple2)
    for i in range(len(Tuple2)):
        if Tuple2[i] == y :
            return f"Index of element {y} of the first occurrence is {i}"
        
element_occurence(4 , Tuple2)

(0, 0, 2, 3, 0, 4, 2, 3, 3, 3, 4)

'Index of element 4 of the first occurrence is 5'

In [18]:
# Question:-6 Check if an element exists in a tuple.

import random
Tuple2 = tuple(random.randint(0,x) for x in range(0,11))

def check_element(x , Tuple2):
    if x in Tuple2:
        return f"{x} element exists in a tuple"
    else:
        return f"{x} element exists in a tuple"
    
check_element( 3,Tuple2)

'3 element exists in a tuple'

In [19]:
# Question:-7 Convert a tuple to a list.

list2 = list(Tuple2)
print(f"Tuple to a list is {list2}")

Tuple to a list is [0, 0, 0, 0, 4, 4, 3, 2, 8, 8, 5]

In [20]:
# Question:-8 Convert a list to a tuple.

print(f"list to a tuple. {tuple(list2)}")

list to a tuple. (0, 0, 0, 0, 4, 4, 3, 2, 8, 8, 5)

In [21]:
# Question:-9 Unpack the elements of a tuple into variables.

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [22]:
# Question:-10 Create a tuple of even numbers from 1 to 10.

print(f"Even numbers in Tuple {tuple(x for x in range(0,11) if x%2 == 0)}")

Even numbers in Tuple (0, 2, 4, 6, 8, 10)

In [23]:
# Question:-11 Create a tuple of odd numbers from 1 to 10.

print(f"Even numbers in Tuple {tuple(x for x in range(0,11) if x%2 != 0)}")

Even numbers in Tuple (1, 3, 5, 7, 9)

In [4]:
# Question:-12 Concatenate two tuples.

Tuple1 = (1,2,3,4)
Tuple2 = (5,6,7,8)
print(Tuple1 + Tuple2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [3]:
# Question:-13 Repeat a tuple three times.

print(3 * Tuple1)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [6]:
# Question:-14 Check if a tuple is empty.

Tuple3 = ()
Tuple4 = (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

if len(Tuple3) == 0:
    print("Tuple is empty")
else:
    print("Tuple is not empty")
    
if len(Tuple4) == 0:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is empty
Tuple is not empty

In [7]:
# Question:-15 Create a nested tuple.

nested_tuple = ((1,3,5,7),("create","a","nested","Tuple"),(0,1))
print(nested_tuple)

((1, 3, 5, 7), ('create', 'a', 'nested', 'Tuple'), (0, 1))

In [8]:
# Question:-16 Access the first element of a nested tuple.

print(nested_tuple[0])

(1, 3, 5, 7)

In [9]:
# Question:-17 Create a tuple with a single element.

single_tuple = (22,)
print(single_tuple)

(22,)

In [12]:
# Question:-18 Compare two tuples.
import random

tuple1 = tuple(random.randint(0,x) for x in range(0,11))
tuple2 = tuple(random.randint(0,x) for x in range(0,11))

print(tuple1)
print(tuple2)

print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

(0, 0, 2, 1, 2, 3, 4, 0, 3, 8, 7)
(0, 0, 2, 0, 4, 5, 3, 0, 0, 4, 3)
tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: False
tuple1 <= tuple2: False
tuple1 > tuple2: True
tuple1 >= tuple2: True

In [14]:
# Question:-19 Delete a tuple.
del tuple2

print(tuple2)

NameError: name 'tuple2' is not defined

In [16]:
# Question:-20 Slice a tuple.

import random

tuple1 = tuple(random.randint(0,x) for x in range(0,21))
print(tuple1)
print(tuple1[2:16])

(0, 1, 2, 0, 1, 3, 4, 0, 7, 0, 8, 9, 8, 3, 0, 3, 0, 14, 5, 0, 2)
(2, 0, 1, 3, 4, 0, 7, 0, 8, 9, 8, 3, 0, 3)

In [3]:
# Question:-21 Find the maximum value in a tuple.

import random

tuple1 = tuple(random.randint(0,x) for x in range(0,21))
print(tuple1)
print(f"Maximun value in tuple is {max(tuple1)}")

(0, 1, 2, 2, 3, 4, 2, 7, 4, 4, 5, 9, 10, 6, 4, 4, 14, 10, 6, 18, 12)
Maximun value in tuple is 18

In [4]:
# Question:-22 Find the minimum value in a tuple.

import random

tuple1 = tuple(random.randint(0,x) for x in range(0,21))
print(tuple1)
print(f"Minimum value in tuple is {min(tuple1)}")

(0, 1, 1, 2, 3, 3, 6, 5, 6, 2, 4, 1, 6, 13, 11, 9, 10, 1, 13, 6, 1)
Minimum value in tuple is 0

In [6]:
# Question:-23 Convert a string to a tuple of characters.

words = "Convert a string to a tuple of characters."
string_to_tuple = tuple(words)
print(tuple(words))

('C', 'o', 'n', 'v', 'e', 'r', 't', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'a', ' ', 't', 'u', 'p', 'l', 'e', ' ', 'o', 'f', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', '.')

In [7]:
# Question:-24 Convert a tuple of characters to a string.

print(''.join(string_to_tuple))

Convert a string to a tuple of characters.

In [1]:
# Question:-25 Create a tuple from multiple data types.

tuple5 = (23,57.8,"DATA" , True , 0 , 1)
print(tuple5)

(23, 57.8, 'DATA', True, 0, 1)

In [3]:
# Question:-26 Check if two tuples are identical.

tuple1 = (1,2,3)
tuple2 = (1,3,4)
tuple3 = (1,2,3)

check_identical = tuple1 ==  tuple2
check_identical1 = tuple1 == tuple3

print(f"Chech if tuple is identical {check_identical}")
print(f"Chech if tuple is identical {check_identical1}")

Chech if tuple is identical False
Chech if tuple is identical True

In [9]:
# Question:-27 Sort the elements of a tuple.

import random

tuple1 = tuple(random.randint(0,x) for x in range(0,11))

if tuple1 == sorted(tuple1):
    print(f"Tuple is sorted")
else:
    print(f"Tuple is not sorted")

Tuple is not sorted

In [11]:
# Question:-28 Convert a tuple of integers to a tuple of strings.

import random

tuple1 = tuple(random.randint(0,x) for x in range(0,11))
print(tuple1)

# tuple1 is integer table

print(tuple(str(x) for x in tuple1))

(0, 0, 0, 1, 3, 3, 1, 3, 4, 7, 4)
('0', '0', '0', '1', '3', '3', '1', '3', '4', '7', '4')

In [13]:
# Question:-29 Convert a tuple of strings to a tuple of integers.

tuple2 = tuple(str(x) for x in tuple1)
print(tuple2)
print(tuple(int(x) for x in tuple1))

('0', '0', '0', '1', '3', '3', '1', '3', '4', '7', '4')
(0, 0, 0, 1, 3, 3, 1, 3, 4, 7, 4)

In [14]:
# Question:-30 Merge two tuples.

print(tuple1 + tuple2)

(0, 0, 0, 1, 3, 3, 1, 3, 4, 7, 4, '0', '0', '0', '1', '3', '3', '1', '3', '4', '7', '4')

In [1]:
# Question:-31 Flatten a nested tuple.

def flatten_tuple(nested_tuple):
    flattened_list = []

    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened_list.extend(flatten_tuple(item))
        else:
            flattened_list.append(item)

    return tuple(flattened_list)

# Example
nested_tuple = (1, (2, 3), ((4, 5), 6))
flattened_tuple = flatten_tuple(nested_tuple)

print("Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Nested Tuple: (1, (2, 3), ((4, 5), 6))
Flattened Tuple: (1, 2, 3, 4, 5, 6)

In [1]:
# Question:- 32 Create a tuple of the first 5 prime numbers.

# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [8]:
# Question:- 33 Check if a tuple is a palindrome.

def is_palindrome(tuple1):
    if list(tuple1) == list(tuple1)[::-1]:
        print(f"{tuple1} is Palindrome")
    else:
        print(f"{tuple1} is not  Palindrome")
        
tuple1 = (1,2,3,4,5,4,3,2,1)
tuple2 = ("a",1,6,"d")
is_palindrome(tuple1)
is_palindrome(tuple2)

(1, 2, 3, 4, 5, 4, 3, 2, 1) is Palindrome
('a', 1, 6, 'd') is not  Palindrome

In [15]:
# Question:- 34 Create a tuple of squares of numbers from 1 to 5.

print(tuple([x * x for x in range(1,6)]))

(1, 4, 9, 16, 25)

In [20]:
# Question:- 35 Filter out all even numbers from a tuple.

Main_tuple = tuple([x for x in range(0,21)])
print(Main_tuple)
even_tuple = tuple([x for x in Main_tuple if x % 2 == 0])
print(f"Even numbers from tuple {even_tuple}")

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
Even numbers from tuple (0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [22]:
# Question:- 36 Multiply all elements in a tuple by 2.

Main_tuple = tuple([x for x in range(0,11)])
tuple2 = tuple([x*2 for x in Main_tuple])
print(f"Main Tuple {Main_tuple}")
print(f"Multiply by 2 {tuple2}")

Main Tuple (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Multiply by 2 (0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [28]:
# Question:- 37 Create a tuple of random numbers.

import random 
random_tuple = tuple([round(random.uniform(0.0,x),2) for x in range(0,10)])
print(random_tuple)

(0.0, 0.14, 1.75, 0.61, 1.78, 2.65, 4.53, 0.7, 7.61, 7.44)

In [33]:
# Question:- 38 Check if a tuple is sorted.

import random

def check_sorted(tuple1):
    if list(tuple1) == sorted(list(tuple1)):
        print(f"{tuple1} is sorted")
    else:
        print(f"{tuple1} is not sorted")
    
tuple1 = tuple([x for x in range(0,11)])
tuple2 = tuple([random.randint(0,x) for x in range(0,11)])

check_sorted(tuple1)
check_sorted(tuple2)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10) is sorted
(0, 0, 2, 0, 3, 2, 6, 7, 3, 7, 1) is not sorted

In [34]:
# Question:- 39 Rotate a tuple to the left by `n` positions.

def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the length of the tuple
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple

# Example usage:
original_tuple = (1, 2, 3, 4, 5)
n_positions = 2
rotated_tuple = rotate_tuple_left(original_tuple, n_positions)

print("Original Tuple:", original_tuple)
print(f"Rotated {n_positions} Positions Left:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated 2 Positions Left: (3, 4, 5, 1, 2)

In [35]:
# Question:-40 Rotate a tuple to the right by `n` positions

def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the length of the tuple
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple

# Example usage:
original_tuple = (1, 2, 3, 4, 5)
n_positions = 2
rotated_tuple = rotate_tuple_right(original_tuple, n_positions)

print("Original Tuple:", original_tuple)
print(f"Rotated {n_positions} Positions Right:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated 2 Positions Right: (4, 5, 1, 2, 3)

In [36]:
# Question:- 41 Create a tuple of the first 5 Fibonacci numbers.

def generate_fibonacci(n):
    fibonacci_sequence = [0, 1]
    while len(fibonacci_sequence) < n:
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)
    return tuple(fibonacci_sequence)

# Generate the first 5 Fibonacci numbers
first_five_fibonacci = generate_fibonacci(5)

print("First 5 Fibonacci Numbers:", first_five_fibonacci)

First 5 Fibonacci Numbers: (0, 1, 1, 2, 3)

In [37]:
# Question:- 42 Create a tuple from user input.

# Get input from the user
user_input = input("Enter elements separated by commas: ")

# Split the input string into a list of elements
elements = user_input.split(',')

# Convert the list to a tuple
user_tuple = tuple(elements)

# Display the resulting tuple
print("Tuple from user input:", user_tuple)

Enter elements separated by commas:  1,2,3,4,5

Tuple from user input: ('1', '2', '3', '4', '5')

In [1]:
# Question:- 43 Swap two elements in a tuple. 

my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [2]:
# Question:- 44 Reverse the elements of a tuple.

my_tuple = (9,8,7,6,5,4,3,2,1)

reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
# Question:- 45 Create a tuple of the first `n` powers of 2.

def power_tuple(n):
    new_tuple = tuple(2**x for x in range(0,n))
    return new_tuple
    
power_tuple(10)

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [36]:
# Question:- 46 Find the longest string in a tuple of strings.

string1 = "Find the longest string in a tuple of string"
main_tuple = tuple(string1.split())

longest_string = max(main_tuple,key = len)
print(f"Longest string in tuple is :- {longest_string}")

Longest string in tuple is :- longest

In [37]:
# Question:- 47 Find the shortest string in a tuple of strings..

string1 = "Find the shortest string in a tuple of strings."
main_tuple = tuple(string1.split())

longest_string = min(main_tuple,key = len)
print(f"Longest string in tuple is :- {longest_string}")

Longest string in tuple is :- a

In [38]:
# Question:- 48 Create a tuple of the first `n` triangular numbers.

# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [39]:
# Question:- 49 Check if a tuple contains another tuple as a subsequence.

# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [41]:
# Question:- 50 Create a tuple of alternating 1s and 0s of length `n`.

n = 10

main_tuple = tuple(x%2 for x in range(10))
print(main_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problems

In [59]:
# Question:- 1 Create a set with integers from 1 to 5.

set1 = set()

for i in range(1,6):
    set1.add(i)
    
print(set1)

{1, 2, 3, 4, 5}

In [60]:
# Question:- 2 Add an element to a set.

print(f"Original Set :- {set1}")

# Add an element to a set.

set1.add(6)

print(f"Set after add of new element :- {set1}")

Original Set :- {1, 2, 3, 4, 5}
Set after add of new element :- {1, 2, 3, 4, 5, 6}

In [61]:
# Question:- 3 Remove an element from a set.

print(f"Original Set :- {set1}")

# Remove an element to a set.

set1.remove(6)

print(f"Set after add of new element :- {set1}")

Original Set :- {1, 2, 3, 4, 5, 6}
Set after add of new element :- {1, 2, 3, 4, 5}

In [62]:
# Question:- 4 Check if a element exists in set

check_element = 3

def check_element(x):
    if x in set1:
        print(f"The {x} exist in {set1}")
    else:
        print(f"The {x} not exist in {set1}")

check_element(3)

check_element(6)

The 3 exist in {1, 2, 3, 4, 5}
The 6 not exist in {1, 2, 3, 4, 5}

In [63]:
# Question:- 5 Find the length of a set without using the `len()` function.

print(f"Original set {set1}")
set_length = 0

for i in set1:
    set_length += 1
    
print(f"Length of the set {set_length}")

Original set {1, 2, 3, 4, 5}
Length of the set 5

In [64]:
# Question:- 6 Clear all elements from a set.

set1.clear()
print(set1)

set()

In [67]:
# Question:- 7 Create a set of even numbers from 1 to 10.

even_set = set(x for x in range(1,11) if x % 2 == 0)
print(even_set)

{2, 4, 6, 8, 10}

In [68]:
# Question:- 8 Create a set of odd numbers from 1 to 10.

odd_set = set(x for x in range(1,11) if x % 2 != 0)
print(odd_set)

{1, 3, 5, 7, 9}

In [72]:
# Question:- 9 Find the union of two sets.

set1 = set(x for x in range(0,6))
set2 = set(x for x in range(5,11))

union_set = set1.union(set2)

print(f"set1:- {set1}")
print(f"set2:- {set2}")
print(f"Union of both set :- {union_set}")

set1:- {0, 1, 2, 3, 4, 5}
set2:- {5, 6, 7, 8, 9, 10}
Union of both set :- {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [73]:
# Question:- 9 Find the intersection of two sets.

set1 = set(x for x in range(0,6))
set2 = set(x for x in range(5,11))

union_set = set1.intersection(set2)

print(f"set1:- {set1}")
print(f"set2:- {set2}")
print(f"intersection of both set :- {union_set}")

set1:- {0, 1, 2, 3, 4, 5}
set2:- {5, 6, 7, 8, 9, 10}
intersection of both set :- {5}

In [1]:
# Question:- 11 Find the difference between two sets.

set1 = set(x for x in range(0,6))
set2 = set(x for x in range(5,11))

union_set = set1.difference(set2)

print(f"set1:- {set1}")
print(f"set2:- {set2}")
print(f"diffrence of both set :- {union_set}")

set1:- {0, 1, 2, 3, 4, 5}
set2:- {5, 6, 7, 8, 9, 10}
diffrence of both set :- {0, 1, 2, 3, 4}

In [2]:
# Question:- 12 Check if a set is a subset of another set.

set1 = set(x for x in range(0,6))
set2 = set(x for x in range(5,11))

union_set = set1.issubset(set2)

print(f"set1:- {set1}")
print(f"set2:- {set2}")
print(f"Is set2 is subset of set1:- {union_set}")

set1:- {0, 1, 2, 3, 4, 5}
set2:- {5, 6, 7, 8, 9, 10}
Is set2 is subset of set1:- False

In [1]:
# Question:- 13 Check if a set is a superset of another set.

set1 = set(x for x in range(0,6))
set2 = set(x for x in range(5,11))

union_set = set1.issuperset(set2)

print(f"set1:- {set1}")
print(f"set2:- {set2}")
print(f"Is set2 is subset of set1:- {union_set}")

set1:- {0, 1, 2, 3, 4, 5}
set2:- {5, 6, 7, 8, 9, 10}
Is set2 is subset of set1:- False

In [6]:
# Question:- 14 Create a set from a list.

list2 = [1,2,3,4,5,6,6,6]
print(f"Original List {list2}")
print(f"Converted to set {set(list2)}")

Original List [1, 2, 3, 4, 5, 6, 6, 6]
Converted to set {1, 2, 3, 4, 5, 6}

In [9]:
# Question:- 15 Convert a set to a list.

new_set = {1,2,3,45,5}
print(f"Original Set {new_set}")
print(f"Converted a set to a list {list(new_set)}")

Original Set {1, 2, 3, 5, 45}
Converted a set to a list [1, 2, 3, 5, 45]

In [3]:
# Question:- 16 Remove a random element from a set.

import random

Main_set = {1,2,34,5,6,3,78,3,90,2}

random_number = random.choice(list(Main_set))
print(random_number)

Main_set.remove(random_number)
print(Main_set)

78
{1, 2, 3, 34, 5, 6, 90}

In [7]:
# Question:- 17 Pop an element from a set.

print(f"Original Set {Main_set}")
Main_set.pop()
print(f"Set after Pop the element 1 {Main_set}")

Original Set {2, 3, 34, 5, 6, 90}
Set after Pop the element 1 {3, 34, 5, 6, 90}

In [9]:
# Question:- 18 Check if two sets have no elements in common.

Set1 = {1,2,3,4,5}
Set2 = {3,4,5,6,7}

Common_elements = Set1.intersection(Set2)
print(f"This are the Common elements in both the sets {Common_elements}")

This are the Common elements in both the sets {3, 4, 5}

In [11]:
# Question:- 19 Find the symmetric difference between two sets.

Set1 = {1,2,3,4,5}
Set2 = {3,4,5,6,7}

Syemmetric_elements = Set1 ^ Set2
print(f"Syemmetric elements between {Syemmetric_elements}")

Syemmetric elements between {1, 2, 6, 7}

In [15]:
# Question:- 20 Update a set with elements from another set.

Set1 = {1,2,3,4,5}
Set2 = {3,4,5,6,7}

print(f"Set1 {Set1}\nSet2 {Set2}")
Set1.update(Set2)
print(f"Updated Set2 :- {Set1}")

Set1 {1, 2, 3, 4, 5}
Set2 {3, 4, 5, 6, 7}
Updated Set2 :- {1, 2, 3, 4, 5, 6, 7}

In [16]:
# Question:- 21 Create a set of the first 5 prime numbers.

# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [18]:
# Question:-22 Check if two sets are identical.

Set1 = {1,2,3,4,5}
Set2 = {3,4,5,6,7}

if Set1==Set2:
    print(f"Both the sets are indentical")
else:
    print(f"Both the sets are not indentical")

Both the sets are not indentical

In [20]:
#Question:- 23 Create a frozen set.

import random

main_list = [x for x in range(0,10)]

Froxen_set = frozenset(main_list)
print(f"Frozen Set :- {Froxen_set}")

Frozen Set :- frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [23]:
# Question:- 24 Check if a set is disjoint with another set.

set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [28]:
# Questin:- 25 Create a set of squares of numbers from 1 to 5.

Square_set = [x**2 for x in range(1,6)]
print(f"Square Set :- {set(Square_set)}")

Square Set :- {1, 4, 9, 16, 25}

In [33]:
# Question:- 26 Filter out all even numbers from a set.

Even_set = [x for x in range(1,21) if x%2==0]
print(f"Even Set :- {set(Even_set)}")

Even Set :- {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [35]:
# Question:- 27 Multiply all elements in a set by 2.

print(f"Original Set {Even_set}")
Multiply_set = [x*2 for x in Even_set]
print(f"Multiplied by 2 Set {Multiply_set}")

Original Set [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Multiplied by 2 Set [4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [12]:
# Question:- 28 Create a set of random numbers.

import random as r

Main_list = [r.randint(0,x) for x in range(0,11)]
print(f"Random Set :- {set(Main_list)}")

Random Set :- {0, 1, 2, 3, 4, 5, 8, 10}

In [15]:
# Question:- 29 Check if a set is empty.

print(f"Main_set :- {Main_list}")
if not Main_list:
    print("Set is empty")
else:
    print("Set is not empty")

Main_set :- [0, 1, 1, 2, 2, 4, 3, 0, 5, 8, 10]
Set is not empty

In [16]:
# Question:- 30 Create a nested set (hint: use frozenset).
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [17]:
# Question:- 31 Remove an element from a set using the discard method.

my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [18]:
# Question:- 32 Compare two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [4]:
# Question:- 33 Create a set from a string.

String_value = "Create a set from a string"
print(f"Original String:- {String_value}")
print(f"String converted into a {set(String_value.split())}")

Original String:- Create a set from a string
String converted into a {'Create', 'from', 'set', 'string', 'a'}

In [21]:
# Question:- 34 Convert a set of strings to a set of integers.

String_value = {"123","456","789"}

Set_value = set()

for each in String_value:
    Set_value.add(int(each))

print(f"Original Set of strings :- {String_value}")
print(f"String set converted to the integer set :- {Set_value}")

Original Set of strings :- {'789', '123', '456'}
String set converted to the integer set :- {456, 123, 789}

In [24]:
# Question:- 35 Convert a set of integers to a set of strings..

int_value = {123,456,789}

Set_value = set()

for each in int_value:
    Set_value.add(str(each))

print(f"Original Set of Intergers :- {int_value}")
print(f"integer set converted to the string set :- {Set_value}")

Original Set of Intergers :- {456, 123, 789}
integer set converted to the string set :- {'789', '123', '456'}

In [26]:
# Question:- 36 Create a set from a tuple.

main_tuple = (1,2,3,4,5,6,7,8,9,0)
print(f"Original tuple {main_tuple}")
print(f"Tuple converted to the set {set(main_tuple)}")

Original tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
Tuple converted to the set {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
# Question:- 37 Convert a set to a tuple.

main_set = {1,2,3,4,5,6,7,8,9,0}
print(f"Original set {main_set}")
print(f"Set converted to the converted {tuple(main_set)}")

Original set {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
Set converted to the converted (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [30]:
# Question:- 38 Find the maximum value in a set.

main_set = {1,2,3,4,5,6,7,8,9,0}
print(f"Original set {main_set}")
print(f"Maximum Value in the set is {max(main_set)}")

Original set {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
Maximum Value in the set is 9

In [31]:
# Question:- 39 Find the minimum value in a set..

main_set = {1,2,3,4,5,6,7,8,9,0}
print(f"Original set {main_set}")
print(f"Minimum Value in the set is {min(main_set)}")

Original set {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
Minimum Value in the set is 0

In [32]:
# Question:- 40 Create a set from user input.

set_input = input("Enter the Value in the set")
main_set = set()
main_set.add(set_input)
print(f"{set_input} added in the set {main_set}")

Enter the Value in the set 34

34 added in the set {'34'}

In [33]:
# Question:- 41 Check if the intersection of two sets is empty.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [56]:
# Question:- 42 Create a set of the first 5 Fibonacci numbers.

def fibonnacci_set(n):
    list_sequence = [0,1]
    for i in range(n):
        print(i, list_sequence[-1])
        list_sequence.append(list_sequence[-2] + list_sequence[-1])
    
    return set(list_sequence)

fibonnacci_set(5)

0 1
1 1
2 2
3 3
4 5

{0, 1, 2, 3, 5, 8}

In [58]:
# Question:- 43 Remove duplicates from a list using sets.

main_list = [1,2,3,3,4,5,5,6,3,56,8,92,23,55,67]
print(f"Original list :- {main_list}")
print(f"removed duplicate from teh set {set(main_list)}")

Original list :- [1, 2, 3, 3, 4, 5, 5, 6, 3, 56, 8, 92, 23, 55, 67]
removed duplicate from teh set {1, 2, 3, 4, 5, 6, 67, 8, 55, 23, 56, 92}

In [60]:
# Question:- 44 Check if two sets have the same elements, regardless of their count.

def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [64]:
# Question:- 45 Create a set of the first `n` powers of 2.

power_list = [2**x for x in range(0,10)]
print(f"set of the first `n` powers of 2 {sorted(set(power_list))}")

set of the first `n` powers of 2 [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [66]:
# Question:- 46 Find the common elements between a set and a list.

my_set = {1, 2, 12, 2, 1}
my_list = [1,7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [1, 12]

In [67]:
# Question:- 47 Create a set of the first `n` triangular numbers.

def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  5

The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

In [68]:
# Question:- 48 Check if a set contains another set as a subset.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [69]:
# Question:- 49 Create a set of alternating 1s and 0s of length `n`.

def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [71]:
# Question:- 50 Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}